<form action="/shoes" method="post">

  <div class="row">
    <div class="col-xs-6">
      <h2>add shoes:</h2>
      <label for="shoe-name">shoe name:</label>
      <input type="text" name="shoe-name" class="form-control">
      <label for="shoe-name">shoe price:</label>
      <input type="text" name="shoe-price" class="form-control">
      <br>
      <button type="submit" class="btn-lg btn-success outline">add shoes</button>
    </div>
  </div>
</form>